@import '../settings';

.active {
  a {
    background:#3F51B5 !important;
  }
}

.wrap-logo {
  width: 300px;
  vertical-align: bottom;
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  text-align: center;
  height: 300px;
  transform: scale(.8);
  overflow: hidden;
  img {
    transform: scale(1.4);
    margin-left: -2px;
  }
}

.wrap-text {
  display: inline-block;
  vertical-align: bottom;
  margin-left: -20px;
  nav {
    vertical-align: bottom;
    margin-top: 50px;
  }
}



.wrap-header {
  background: $primary;
  margin-bottom: 40px;
  .header-title {
    margin: 0px;
    padding-left: 13px;
    font-size: 50px;
    color: white;
    text-align: left;
    font-family: 'corbel';
    font-weight: bold;
  }
  .header-subtitle {
    font-family: 'Open Sans Light';
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
    padding: 0px;
    padding-bottom: 5px;
    margin: 0px;
    margin-top: -10px;
    margin-left: 20px;
    font-size: 23px;
    border-bottom: 5px solid rgb(255, 255, 255);
    width: 100px;
  }
  .wrap-options {
    text-align: left;
    background: none;
    border: none;
    list-style-type: none;
    margin-top: 10px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    li {
      list-style: none;
      font-size: 25px;
      text-align: center;
      cursor: pointer;
      transition: all 0.5s;
      display: inline-block;
      height: auto;
      padding-left: 21px;
      padding-right: 20px;
      padding-bottom: 0px;
      &:hover {
        color:white;
        a {
          background: white;
        }
        i {
          color: $primary;
        }
        span {
          color: $primary;
        }
      }
      a {
        vertical-align: middle;
        padding: 1px;
        border-radius: 3px;
        transition: all 0.25s;
        font-size: 27px;
        padding-bottom: 5px;
        i {
          vertical-align: middle;
          color: rgba(255, 255, 255, 0.4);
          padding: 2px;
          border-radius: 3px;
          transition: all 0.25s;
          font-size: 25px;
        }
        span {
          color: rgba(255, 255, 255, 0.4);
          vertical-align: middle;
          display: inline-block;
          margin-left: 10px;
          font-size: 18px;
          font-family: 'Open Sans Regular';
          padding-right: 10px;
        }
      }
    }
  }
  .title {
    font-family: "Raleway";
    color: #fff;
    margin: 0px;
    font-weight: bold;
  }
}

.round-left {
  border-radius: 84px 0px 0px 0px;
}

.round-right {
  border-radius: 0px 84px 0px 0px;
}

.is-active {
  i {
    color: $primary !important;
  }
  a {
    background: white;
  }
  span {
    color: $primary !important;
  }
}

.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
  color: white !important;
  i {
    background: white !important;
  }
}

.line-bottom {
  width: 35px;
  height: 4px;
  background: rgba(0,0,0,0.5);
  text-align: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
