@import '../settings';

.Modules-table{
  th{

  text-align: center !important
  }
}

.module-title {
  font-family: 'corbel';
  font-size: 40px;
  font-weight: bold;
  margin: 0px;
  color: #404040;
}
